{% extends "layout.html" %}
{% block main %}
<p>Ever since the occurrence of the Rachenbac Intrinsic Field Tear (RIFT) in 2̵̼̰̚0̴̘̿1̶̠͘͠9̷̥̑, the Foundation for Interdisciplinary Rift Science and Technology (FIRST) has championed study of the unique physics and ecology on the far side of the of the spatial-temporal discontinuity.</p>

<p>Despite the RIFT’s remote location in t̷͍̲͒h̴̬͌̐ė̸̫ ̶̧̛̳K̸̞͚̾r̴̝͔̋͘ȧ̴̧̫͗z̶̞͈̒͌ǹ̶͚̼ŏ̷̧̇v̶̝͐ ̸͖̂Ŕ̶̙̠̈́e̴̖̘͒p̸͈̈́ú̸̫͘b̷̲͂͂l̴̲̖̔i̶̧̳͂c̴͔̑, FIRST has been instrumental in establishing permanent research facilities in the area surrounding the RIFT interface. These resources have facilitated international teams to achieve dramatic breakthroughs in research fields such as physics, biological systems, and novel manufacturing by leveraging the unique conditions in the RIFT. Under the guidance of FIRST, development near the RIFT has increased dramatically, expanding from the research-focused satellite campus of the University of the Kraznov Federation. In 2̵̧̍͝0̸̳͛̌2̸̼̦̌3̸͖̻̓ Rift City formally incorporated at an event coinciding with the foundation of Rift City University and the first annual FIRST conference.</p>

<p>Recent initiatives include:</p>
<ul>
 <li>Cataloging new animal species inside the Rift</li>
 <li>Surveying the Rift geomorphology</li>
 <li>Documenting local ecological mutations near the discontinuity</li>
 <li>Fabrication of stable monopole magnets</li>
 <li>Channeling of Kolmogarov instabilities from the Rift to materialize local anomalies</li>
</ul>
{% endblock %}
