{% extends "layout.html" %}
{% block main %}
<p>Welcome! We are pleased to announce the 3̶̗͙̊̃ȓ̵͇̇ͅd̴͕͂̽ annual FIRST conference.</p>

<p>The Foundation for Interdisciplinary RIFT Science and Technology (FIRST) would like to celebrate the continued international research efforts put forth to better understand and exploit the RIFT. Last year the conference hosted 1572 researchers from 53 countries and debuted new discoveries including negative entropy heat pumps, metabolic processes in non-carbonaceous plant life, and the first observation of inter RIFT animal migration. Despite minor technical mishaps during last year’s conference we look forward to testing the new quazi-singularity elasticity shielding which we expect to minimize disruptions due to intrinsic field instability cascades which were observed last year.</p>

<p>We look forward to the continued growth of the FIRST conference as well as the continued leveraging of the RIFT for advancements here at home.</p>
{% endblock %}
