<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
        <link rel="apple-touch-icon" sizes="64x64" href="{{ url_for('static', filename='img/favicon.png') }}" />

        <title>Foundation for Interdisciplinary RIFT Science and Technology - {{ title }}</title>

        <meta property="og:type" content="website">
        <meta property="og:title" content="Foundation for Interdisciplinary RIFT Science and Technology - {{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ url_for('static', filename='img/logo.png') }}">
        <meta property="og:image:secure_url" content="{{ url_for('static', filename='img/logo.png') }}">
        <meta property="og:url" content="{{ base_url }}{{ request.path }}">
        <meta property="og:site_name" content="FIRST Conference">

        <meta name="twitter:title" content="Foundation for Interdisciplinary RIFT Science and Technology - {{ title }}">
        <meta name="twitter:description" content="{{ description }}">

        <link rel="canonical" href="{{ base_url }}{{ request.path }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#4B296B">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div class="masthead">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="80" height="80" alt="">
            </a>
            <div class="navbar-title">
                <div class="title">
                    FIRST 2025
                </div>
                <div>
                    Foundation for Interdisciplinary Rift Science and Technology
                </div>
                <div>
                    Rift City | Nov 11-15, 2025
                </div>

            </div>
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                  <a class="nav-item nav-link {% if request.path == '/program' %}active{% endif %}" href="/program">Program</a>
                  <a class="nav-item nav-link {% if request.path == '/submissions' %}active{% endif %}" href="/submissions">Call for Papers</a>
                  <a class="nav-item nav-link {% if request.path == '/about' %}active{% endif %}" href="/about">About</a>
                </div>
              </div>
            </nav>
        </div>
        <main class="main">
            <div class="container">
                {% block main %}{% endblock %}
                <div class="sponsors">
                    <h2>Sponsors</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sponsor-item riftcorp">
                                <div class="logo"><img src="{{ url_for('static', filename='img/riftcorp_logo.png') }}"></div>
                                <div class="text">The Rift Corporation</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="sponsor-item src">
                                <div class="logo"><img src="{{ url_for('static', filename='img/src_logo.png') }}"></div>
                                <div class="text">
                                    <div class="text1">Society for</div>
                                    <div class="text2">Rift Cryptozoology</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="sponsor-item rift-city-university">
                                <div class="logo"><img src="{{ url_for('static', filename='img/riftuniversity_logo.png') }}"></div>
                                <div class="text">
                                    <div class="text1">Rift City University</div>
                                    <div class="text2">Science and Technology</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="sponsor-item kraznov-federation">
                                <div class="logo"><img src="{{ url_for('static', filename='img/federation_logo.png') }}"></div>
                                <div class="text">University of<br> the Kraznov<br> Federation</div>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
        <footer class="footer">
            <div class="copyright">
                Copyright © 2018, Foundation for Interdisciplinary Rift Science and Technology | firstconf.org
            </div>
            <div class="attribution">Icons made by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </body>
</html>
